<h1>Welcome <%= @user.email %>!</h1>
<ul class="list-group">
  <%=  render @user.items %>
  <li class='list-group-item'>
    <%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>
  </li>
</ul>
