<h1>Welcome <%= @user.email %>!</h1>
<ul class="list-group">
  <% @user.items.each do |item| %>
    <%= render partial: 'items/item', locals: { user: @user, item: item } %>
  <% end %>
  <li class='list-group-item'>
    <%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>
  </li>
</ul>
