<div class="container">
  <div class="row col-md-6 col-md-offset-3">
    <h1><center>Alright <%= @user.username %>, get crackin!</h1></center>
  </div>
</div>
<ul class="list-group">
  <%=  render @user.items %>
  <li class='list-group-item'>
    <%= render partial: 'items/form', locals: { user: @user, item: Item.new } %>
  </li>
</ul>
