<%= content_tag :div, id: "item-#{item.id}" do %>
  <li class="list-group-item">
    <%= link_to "", [item.user, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
    <%= item.name %>
  </li>
<% end %>
